* box sizing */
html {
	box-sizing: border-box;
	}
*, *:before, *:after {
	box-sizing: inherit;
}

article.lorem p {
	
  

}
ul {
	margin-left: 1em;
}
form {
	margin-left: 2.5em;
}
input[type='radio'] {
	display: inline-block;
}
input[type='text'] {
	width: 3em;
	padding: .3em;
}
div {
width: 100%;
}
div article h2 {
	text-transform: uppercase;
	background: pink;
	 
	width: 100%;
	 
}
.clearfix {
	clear:both;
}
h3 {
	margin-left: 2em;
	padding-left: .25em;
	border: 1px solid black;
}

h2.pageheading {
	border: 1px solid green;
	width: 20em;
	margin-top: 2.25em;
	margin-left: 1.5em;
	padding: .25em;
	border-radius: 10px;
}
#left, #right {
	background: beige;
}
#left {
	font-size: .8em;
	width: 40%;
	float:left;
	bottom: 0;
	margin-left: 5%;
	padding-bottom: 5em;
	border-right: 1px solid black;
	padding-right: 5%;
	border: 1px solid red;
	text-indent: 1.5em;
	 
}
#right {
	text-indent: 1.5em;
	 font-size: .8em;
	width: 40%;
	height: 100em;
	float: right;
	 bottom: 0;
	 margin-right: 5%;
	 padding-bottom: 5em;
	 border: 1px solid red;
}
header, nav {
	margin: 0;
	padding: 0;
	
}
header {
	background: aqua;
	padding: .5em .25em .5em 0;
	position: fixed;
	top: 0;
	width: 100%;
}
h1 {
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 1.75em;
	background: #d8b2d8;
	border: 1px solid black;
	border-radius: 10px;
	padding: .25em;
	font-size: 1.3em;
}
nav a {
	display: inline-block;
	right: 0;
	position: absolute;
	margin-right: 5%;
	text-transform: uppercase;
	border: 1px solid black;
	background: orange;
	padding: .5em;
	text-decoration: none;
	border-radius: 10px;
	color: black;
	font-weight: bolder;
}
a:hover {
	background: aqua;
}
h1, h3 {
	text-transform: uppercase;
}

footer p {
	position: relative;
	 
	margin:0;
	padding:0;
	display:inline;
}
 footer p:nth-of-type(2) {
 	right: 0;
 	 position: absolute;
 	width: 20%;
 }

  
textarea {
	 box-sizing:border-box;

	 width: 100%;
	 height: 100%;
	 bottom: 0;
	 
}
body {
	background: #fefefb;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
footer {
	position: fixed;
	bottom: 0;
	width:100%;
	background: aqua;
	 
	height: 2em;

}
main {
	 
}
 

.error, .inform {
	margin-left: 2em;
}
.error {
	background: orange;
	color: black;
	font-weight: bolder;
	text-transform: uppercase;
	display: block;
	padding: .5em;
	border-radius: 5px;
	font-size: 1.2em;
	width: 45%;

}
.inform {
	background: #ff7070;
	color: black;
	font-weight: bolder;
	text-transform: uppercase;
	display: block;
	padding: .5em;
	border-radius: 5px;
	font-size: 1.3em;
	width: 45%;
}
