html {
	box-sizing: border-box;

}

article.lorem p {
	text-indent: 1.5em;
 	width: 100%;

}

 body section:nth-of-type(1) {
 	margin-bottom: 2em;
 }

 
#left {
	font-size: .8em;
	width: 40%;
	float:left;
	bottom: 0;
	margin-left: 5%;
	margin-bottom: 4em;
}
#right {
	 font-size: .8em;
	width: 40%;
	height: 50em;
	float: right;
	 bottom: 0;
	 margin-right: 5%;
}

h2 {
	text-transform: uppercase;
}
footer p {
	position: relative;
	 
	margin:0;
	padding:0;
	display:inline;
}
 footer p:nth-of-type(2) {
 	right: 0;
 	 position: absolute;
 	width: 20%;
 }

 main {
 	 width: 100%;
 	  
 	 margin: 0 auto;
 	 
 }
textarea {
	 box-sizing:border-box;

	 width: 100%;
	 height: 100%;
	 bottom: 0;
	 
}
body {
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 0;
}
footer {
	position: fixed;
	bottom: 0;
	width:100%;
	background: aqua;
	margin-top: 3em;
	height: 2em;
}